altgraph==0.17.4
certifi==2025.6.15
charset-normalizer==3.4.2
color-matcher==0.4.0
color-space-converter==0.1.4
colour==0.1.5
colour-demosaicing==0.2.6
colour-science==0.4.6
contourpy==1.3.2
cycler==0.12.1
ddt==1.7.2
depthy==0.4.0
docutils==0.21.2
fonttools==4.58.5
idna==3.10
imageio==2.37.0
kiwisolver==1.4.8
lazy_loader==0.4
macholib==1.16.3
matplotlib==3.10.3
networkx==3.4.2
numpy==1.24.0
opencv-python==4.7.0.72
packaging==25.0
pillow==11.3.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2025.5
pyparsing==3.2.3
python-dateutil==2.9.0.post0
PyWavelets==1.8.0
requests==2.32.4
scikit-image==0.20.0
scipy==1.13.1
six==1.17.0
tifffile==2022.4.8
typing_extensions==4.14.1
urllib3==2.5.0
